
## <summary>policy for fabcoin</summary>


########################################
## <summary>
##	Transition to fabcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`fabcoin_domtrans',`
	gen_require(`
		type fabcoin_t, fabcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, fabcoin_exec_t, fabcoin_t)
')


########################################
## <summary>
##	Execute fabcoin server in the fabcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fabcoin_initrc_domtrans',`
	gen_require(`
		type fabcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, fabcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search fabcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fabcoin_search_lib',`
	gen_require(`
		type fabcoin_var_lib_t;
	')

	allow $1 fabcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read fabcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fabcoin_read_lib_files',`
	gen_require(`
		type fabcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, fabcoin_var_lib_t, fabcoin_var_lib_t)
')

########################################
## <summary>
##	Manage fabcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fabcoin_manage_lib_files',`
	gen_require(`
		type fabcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, fabcoin_var_lib_t, fabcoin_var_lib_t)
')

########################################
## <summary>
##	Manage fabcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`fabcoin_manage_lib_dirs',`
	gen_require(`
		type fabcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, fabcoin_var_lib_t, fabcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a fabcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`fabcoin_admin',`
	gen_require(`
		type fabcoin_t;
		type fabcoin_initrc_exec_t;
		type fabcoin_var_lib_t;
	')

	allow $1 fabcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, fabcoin_t)

	fabcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 fabcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, fabcoin_var_lib_t)

')

